<!DOCTYPE html>
<!-- ETAPE 5 : EXECUTION DE LA VIEW (AVEC LES DONNEES DU MODEL) -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout.html">
<head>
<meta charset="UTF-8">
<title>Liste des matières</title>
</head>
<body>
<section layout:fragment="monContenu">
	<div class="container">
		<div class="card mt-3">
			<div class="card-header bg-info text-white"><span class="h2">Liste des matières</span></div>
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>
						<th>Identifiant</th>
						<th>Libellé</th>
						<th>Quest</th>
						<th>Formateur</th>
						<th></th>
					</tr>
					</thead>
					<tbody>						
						<tr th:each="mat : ${matieres}">
							<td th:text="${mat.id}"></td>
							<td>[[${mat.libelle}]]</td>
							<td>[[${mat.quest}]]</td>
							<td>[[${mat.formateur?.nom}]]</td>
							<td>
								<div class='btn-group btn-group-sm'>
									<a th:href="@{/matiere/edit(id=${mat.id})}" class='btn btn-primary'>
										<i class='bi bi-pencil-square'></i>
									</a>
									<a th:href="@{/matiere/delete(id=${mat.id})}" class='btn btn-danger'>
										<i class='bi bi-trash'></i>
									</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-footer">
				<a th:href="@{/matiere/add}" class="btn btn-success btn-lg">
					<i class="bi bi-plus-square"></i>
				</a>
			</div>
		</div>
	</div>
</section>

</body>
</html>